<div class="tags-list">
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button clear (click)="cancelFun()">取消</button>
    </ion-buttons>
    <ion-title>选择标签</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="confirmFun()">确定</button>
    </ion-buttons>
  </ion-navbar>
  <ion-row>
    <ion-col col-3 *ngFor="let item of tags" (click)='selectTagEvent(selectTags,item)' offset-1   [ngClass]="selectTags.indexOf(item)!=-1? 'active':''"> 
      <span>{{item.tagName}}</span>
    </ion-col>
    <ion-col col-3 (click)='addTag()' class='add-tag' offset-1> 
      <ion-icon name="plus"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="add-tag-box" *ngIf="showAddTag">
    <input type="text" placeholder="请输入您想添加的标签" [(ngModel)]="newTag" >
    <div class='btn-list'>
      <button ion-button (click)="cancelAdd()">取消</button>
      <button ion-button color="secondary" (click)="confirmAdd()">确定</button>
    </div>
  </div>
</div>
  