<div class="tags-list">
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button clear (click)="cancelFun()">取消</button>
    </ion-buttons>
    <ion-title>选择标签</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="confirmFun()">确定</button>
    </ion-buttons>
  </ion-navbar>
  <ion-row>
    <ion-col col-4 *ngFor="let item of tags" (click)='selectTagEvent(item)'> 
      <span [ngStyle]="{'color':item.color}" >{{item.tagName}}</span>
    </ion-col>
    <ion-col col-4 (click)='addTag()' class='add-tag'> 
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="add-tag-box" *ngIf="showAddTag">
    <input type="text" placeholder="请输入您想添加的标签" [(ngModel)]="newTag" >
    <div class='btn-list'>
      <button ion-button (click)="cancelAdd()">取消</button>
      <button ion-button color="secondary" (click)="confirmAdd()">确定</button>
    </div>
  </div>
</div>
  