tag-list {
    background-color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    ion-row{
       padding:10px;
    }
    .col{
        text-align: center;
        border:1px solid #ccc;
        margin-bottom: 10px;
    }
    .active{
        background: $fontprimary;
        color:#fff;
        border:1px solid $fontprimary;
    }
    .add-tag{
        border:1px solid #eee;
    }
    .add-tag-box{
        margin: 10px auto;
        text-align: center;
        input{
            width:80%;
            height:30px;
            border:1px solid #ccc;
            border-radius:4px;
            text-indent: 1rem;
        }
    }
    
}
