page-login {
    .content-ios{
        background-color: #FFF;
    }
    .head-photo{
        height: 30%;
        margin-bottom: 20px;
        background: url(../../assets/imgs/login-bg.png);
        background-size: 100% 100%;
        text-align: center;
        .logo{
            width: 70px;
            margin-top: 15%;
        }
    }
    form{
        margin: 0 40px;
        .user-ico,.pwd-ico{
            width: 24px;
        }
        .user-name,.password{
            border-bottom: 1px solid #ccc;
        }
        .remeber-passwword.item-ios{
            padding-left: 30px;
        }
        .show-password{
            position: absolute;
            right: 0;
        }
        .item.item-ios .checkbox-ios{
            margin-right: 8px;
        }
        .list .item:nth-child(3){
            margin: 0 0 30px 0;
        }
        .list-ios > .item-block:first-child,.list-ios .item-block .item-inner,.item-ios.item-block .item-inner{
            border: 0;
        }
        .item-ios{
            padding-left: 0;
            background-color: transparent;
            position: relative;
            .item{
                padding: 0 30px;
            }
            .toggle-ios{
                padding: 0;
                height: 20px;
                width: 40px;
                .toggle-inner{
                    height: 18px;
                    width: 18px;
                    top: 1px;
                }
            }
        }
        .list-ios .item-block .item-inner, .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
            border-bottom: 0;
        }
        // input{
        //     border: 1px solid rgba(255,255,255,0.5);
        //     border-radius: 16px;
        //     color: rgba(255,255,255,0.5);
        // }
        .item-ios [item-start]{
            margin-right: 10px;
        }
        .text-input-ios{
            margin: 0;
            padding: 7px 0;
            width: 100%;
        }

        ::-webkit-input-placeholder{
            color: rgba(255,255,255,0.5);
            font-size: 14px;
        }
        :-moz-placeholder {
            color: rgba(255,255,255,0.5);
            font-size: 14px;
        }
        ::-moz-placeholder {
            color: rgba(255,255,255,0.5);
            font-size: 14px;
        }
        :-ms-input-placeholder {
            color: rgba(255,255,255,0.5);
            font-size: 14px;
        }
        // input:focus{
        //     border: 1px solid rgba(255,255,255,1);
        //     color: rgba(255,255,255,1);
        //     ::-webkit-input-placeholder {
        //         color: rgba(255,255,255,1);
        //     }
        //     :-moz-placeholder {
        //         color: rgba(255,255,255,1);
        //     }
        //     ::-moz-placeholder {
        //         color: rgba(255,255,255,1);
        //     }
        //     :-ms-input-placeholder {
        //         color: rgba(255,255,255,1);
        //     }
        // }
        .user-name{
            // background: url(../assets/imgs/user@2x.png) 15px center no-repeat;
            background-size: 14px 16px;
        }
        .password{
            // background: url(../assets/imgs/password@2x.png) 15px center no-repeat;
            background-size: 14px 16px;
        }
        .button-ios{
            height: 44px;
        }
    }
    #login-btn{
        width: 90%;
        margin-left: 5%;
    }
}
