page-meanswer {
    .answer-txt{
        height: 300px;
        background: #fff;
        width: 100%;
        padding: 15px;
        border: 1px solid #efefef;
        border-radius: 4px;
        font-size: 14px;
    }
    .submit-btn{
        width:90%;
        text-align: center;
        margin:20px 5%;
    }
}
