page-meanswer {
    .answer-txt{
        height: 200px;
        background: #fff;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 14px;
        border-color: #fff;
    }
    .count{
        background: #fff;
        text-align: right;
        padding: 0.5rem 1rem;
        color: $fontgray;
        margin-top: -1rem;
    }
    .submit-btn{
        width:90%;
        margin:20px 5%;
    }
}
