page-question {
    .searchbar-ios{
        background-color: #ffffff;
        border-bottom: 0;
        .searchbar-input{
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
    }
    .data{
        margin-top:36px;
        // margin-bottom: 72px;
        ion-item-sliding{
            margin-bottom: 14px;
        }
        ion-label{
            white-space: normal;
        }
        .label-ios{
            padding: 10px 15px;
            margin: 0;
            white-space: normal;
            .title{
                font-size: 14px;
                color:#333;
                // margin-bottom: 8px;
                span{
                    display: inline-block;
                }
                .reward{
                    color:$fontsecondary;
                    float: right;
                    width:10%;
                    color:#ffb100;
                }
                .title-con{
                    width:80%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .decri{
                line-height: 2.1rem;
                color:$fontgray;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                padding:5px 0 10px 0;
            }
            .base-msg{
                position: relative;
                height:2rem;
                margin:10px 0 0;
                .adopt{
                    position: absolute;
                    right:0;
                    bottom:0;
                    color:$fontsecondary;
                    font-size: 12px;
                    width:70px;
                    height: 2rem;
                    text-align: center;
                    line-height: 2rem;
                    color:#fff;
                    background: #039bff;
                    vertical-align: bottom;
                    margin: 0;
                }
                .ques-msg{
                    position: absolute;
                    left:0;
                    bottom:0;
                    height: 2rem;
                    li{
                        float: left;
                        border-bottom: none;
                        padding: 0;
                        margin-left: 10px;
                        line-height: 2rem;
                        color:$fontgray;
                    }
                }
            }
        }
    }
}
