page-file-add {
    .file-box{
        padding: 20px 20px 10px 20px;
        background-color: #fff;
    }
    .tips{
        color: #ccc;
        text-align: right;
        margin-top: 10px;
    }
    .add-file-btn{
        color: #ccc;
        background-color: #F4F5F9;
        width: 100px;
        text-align: center;
        padding: 2.6rem 0;
        .add-file-ico{
            font-size: 30px;
        }
    }
    .file-name{
        flex: 1;
        padding: 1.5rem;
    }
    .placeholder{
        color: #ccc;
    }
    .label-ios{
        padding-left: 10px;
    }
    #add-btn{
        width: 90%;
        margin-left: 5%;
    }
}
