<ion-header>
  <ion-navbar color="primary">
    <ion-title>上传文档</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="file-box">
    <div class="add-file-btn" (click)="chooserFile()">
      <span>添加文档</span>
    </div>
    <p class="tips">50M以内</p>
  </div>
  <div style="border-top: .5px solid #ccc;margin-top: 20px;background-color: #fff;padding: 0 10px;">
      <ion-input type="text" [(ngModel)]="title" maxLength="50" placeholder="请输入文档标题"></ion-input>
      <div style="text-align:right;" class="font-gray">{{title.length}}/50</div>
  </div>

  <ion-list>
    <button ion-item (click)="showColumn=true" class="font14">
      <span *ngIf="columStr.length==0" class="placeholder">请选择栏目</span>
      <span *ngIf="columStr.length!=0">{{columStr}}</span>
    </button>
    <button ion-item (click)="showTag=true" class="font14">
      <span *ngIf="tagStr.length==0" class="placeholder">请选择标签</span>
      <span *ngIf="tagStr.length!=0">{{tagStr}}</span>
    </button>
    <button ion-item (click)="showDep=true" class="font14">
      <span *ngIf="depStr.length==0" class="placeholder">选择可见部门</span>
      <span *ngIf="depStr.length!=0">{{depStr}}</span>
    </button>
  </ion-list>
  <button id="add-btn" ion-button color="primary"  type="button" class="font18" (click)="saveFile()">上传文档</button>
</ion-content>
<div class="bg" *ngIf="showDep">
    <department-tree (confirm)="getDeps($event)" (cancel)="closeDep()"></department-tree>
</div>
<!-- 栏目 -->
<div class="bg" *ngIf="showColumn">
  <colum-list (confirm)="getColumn($event)" (cancel)="showColumn=fasle"></colum-list>
</div>
<!-- 标签 -->
<div class="bg" *ngIf="showTag">
  <tag-list (confirm)="getTag($event)" (cancel)="showTag=false"></tag-list>
</div>
