page-questiondetails {
    .scroll-content{
        background: #F2F2F2;
    }
    .icon-list{
        position: fixed;
        top:15px;
        right:15px;
        .details-icon{
            display:inline-block;
            margin-left: 10px;
        }
    }
    header{
        padding: 10px 15px;
        margin-bottom: 10px;
        background: #ffffff;
        .title{
            line-height: 24px;
            color:$fontgray;
            margin-top: 0;
            letter-spacing: 1px;
            span{
                color:$fontsecondary;
            }
        }
        .tag-list{
            margin-bottom: 10px;
            li{
                float: left;
                padding: 3px 10px;
                border-radius: 12px;
                border: 1px solid #A4A4A5;
                color: #A4A4A5;
                margin-right: 10px;
            }
        }
        .decri{
            position: relative;
            height:24px;
            margin-bottom: 10px;
            overflow: hidden;
            p{
                width: 80%;
                line-height: 24px;
                color:$fontgray;
            }
            .toggle-btn{
                position: absolute;
                right:0;
                top:4px;
            }
        }
        .base-msg{
            height: 30px;
            .button-ios{
                margin: 0;
                height:30px;
            }
            .ques-msg{
                float: right;
                line-height: 30px;
                color:$fontgray;
                font-size: 12px;
                span{
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
    }
}
