page-questiondetails {
    .icon-list{
        position: fixed;
        top:15px;
        right:15px;
        .details-icon{
            display:inline-block;
            margin-left: 10px;
        }
    }
}
