page-questiondetails {
    .scroll-content{
        background: #F2F2F2;
    }
    .icon-list{
        position: fixed;
        top:15px;
        right:15px;
        .details-icon{
            display:inline-block;
            margin-left: 10px;
            color:#fff;
        }
        .collection-btn{
            color:#fff;
        }
    }
    header{
        padding: 10px 15px;
        margin-bottom: 10px;
        background: #ffffff;
        .title{
            color:$fontdark;
            font-weight: bold;
            line-height: 3rem;
            margin-bottom: 1rem;
            span{
                color:$fontprimary;
            }
        }
        .tag-list{
            overflow: auto;
            margin-bottom: 1rem;
            li{
                float: left;
                color: $fontdark;
                background-color: #F5F5F5;
                padding: 0.5rem 1rem;
                margin-right: 10px;
            }
        }
        .decri{
            position: relative;
            height:2.2rem;
            margin-bottom: 10px;
            overflow: hidden;
            p{
                width: 80%;
                line-height: 2.2rem;
                color:$fontdark;
            }
            .toggle-btn{
                position: absolute;
                right:0;
                top:0px;
                color: $fontgray;
            }
        }
        .base-msg{
            height: 2.25rem;
            .button-ios{
                margin: 0;
                padding: 0.5rem 1rem;
                border-radius: 0;
            }
            .ques-msg{
                float: right;
                padding: 0.6rem 1rem;
                color:$fontgray;
                font-size: 12px;
                span{
                    display: inline-block;
                    margin-left: 0.8333rem;
                }
            }
        }
    }
    .questioncon{
        background:#fff;
        padding: 0 1rem;
        .total{
            line-height:30px;
            color:$fontprimary;
            font-size: 12px;
            font-weight: bold;
            border-bottom:1px solid #ccc;
            padding-left:15px;
        }
        .item{
            .card-ios{
                margin: 0;
                width:100%;
                padding:10px 15px;
                border-bottom: 1px solid #ccc;
                box-shadow: 0 1px 2px transparent;
                -webkit-box-shadow: 0 1px 2px transparent;
                h2{
                    font-size: 1.4rem;
                }
            }
            .card-content-ios{
                padding:0 0 16px;
            }
            .row{
                width:45%;
                float: right;
                .col{
                    width: 50%;
                }
            }
            .username{
                color:$fontdark;
                font-size: 12px;
                margin-bottom: 0.408rem;
            }
            .time{
                color:$fontgray;
                font-size: 12px;
            }
            .adopt{
                position: absolute;
                right: 0;
                top: 10px;
                background: $fontprimary;
                background-size: 100% 100%;
                padding: 0.2rem 1rem;
                color: #fff;
            }
            .good-answer{
                position: absolute;
                right: 0;
                top: 10px;
                background: url(../../assets/imgs/good-answer.png) no-repeat;
                background-size: 100% 100%;
                padding: 0.4rem 1rem 0.4rem 2.5rem;
                color: #fff;
            }
            .comments-list{
                padding-left:15px;
                .title{
                    line-height:2.4rem;
                    color:$fontdark;
                    font-size: 14px;
                    border-bottom: 1px solid #ccc;
                }
                .comments-item{
                    border-bottom: 1px solid #ccc;
                    .card-ios{
                        border-bottom: none;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding:0;
                    }
                }
                .comment-msg{
                    margin:10px 0;
                    ion-input{
                        width: 80%;
                        float: left;
                        border: 1px solid #dcdcdc;
                        padding-left:15px;
                        .text-input-ios{
                            margin: 9px 8px 9px 0;
                        }
                    }
                    button{
                        float: right;
                        vertical-align: top;
                        border-radius: 0;
                        margin:0;
                    }
                }
              
            }
        }
        
    }
}
