<div class="column-list">
    <ion-navbar color="primary">
      <ion-buttons start>
        <button ion-button clear (click)="cancelFun()">取消</button>
      </ion-buttons>
      <ion-title>选择栏目</ion-title>
      <ion-buttons end>
        <button ion-button clear (click)="confirmFun()">确定</button>
      </ion-buttons>
    </ion-navbar>
  <ion-list class="list" radio-group  no-lines [(ngModel)]="selectColumns">
    <ion-item *ngFor="let item of columns">
   
      <ion-label>{{item.itemText}}</ion-label>
      <ion-radio [value]="item.id" item-end></ion-radio>
    </ion-item>
  </ion-list>
</div>
