colum-list {
    .column-list{
        background-color: #fff;
        position: absolute;
        width: 100%;
        bottom: 0;
        .list{
            padding: 0 10px;
            height: 200px;
            overflow-y: auto;
            margin-bottom: 0;
            margin-top: 10px;
        }
        .list-ios > .item-block:first-child{
            border: 0;
        }
    }
}
