file-condetion {
    .condetion{
        border-bottom: 1px solid #ccc;
        position: absolute;
        width: 100%;
        z-index: 100;
        background-color: transparent;
        .condetion-top{
            padding: 0 10px;
            display: flex;
            background-color: #fff;
            .active{
                border-bottom: 2px solid $fontprimary;
                color: $fontprimary;
            }
        }
        .list-ios{
            margin: 0;
            height: 300px;
            overflow-y: auto;
            background-color: #FFF;
            .active{
                color: #5CE5C7;
            }
        }
        .btn-box{
            border-top: 1px solid $fontgray;
            border-bottom: 1px solid $fontgray;
            padding: 0;
            .col{
                padding: 10px;
            }
            .reset{
                color: $fontprimary;
                background-color: #FFF;
            }
            .confim{
                background-color: $fontprimary;
                color: #fff;
            }
        }
    }
}
