file-condetion {
    .condetion{
        border-bottom: 1px solid #ccc;
        position: absolute;
        width: 100%;
        z-index: 100;
        background-color: rgba($color: #000000, $alpha: 0.3);
        .condetion-top{
            padding: 0 10px;
            display: flex;
            background-color: #fff;
            .col{
                padding: 10px 5px;
            }
            .active{
                border-bottom: 3px solid $fontprimary;
                color: $fontprimary;
            }
            .icon{
               position: relative; 
               top: -3px;
               margin-left: 3px;
            }
        }
        .list-ios{
            margin: 0;
            height: 300px;
            overflow-y: auto;
            background-color: #FFF;
            padding: 0 10px;
            .active{
                color: $fontprimary;
            }
            .item-block{
                min-height: auto;
                ion-label{
                    font-size: 14px;
                }
            }
        }
        .btn-box{
            border-top: 1px solid $fontgray;
            border-bottom: 1px solid $fontgray;
            padding: 0;
            .col{
                padding: 10px;
            }
            .reset{
                color: $fontdark;
                background-color: #FFF;
            }
            .confim{
                background-color: $fontprimary;
                color: #fff;
            }
        }
    }
}
