page-me {
    .content-ios{
        background-color: #F9F9F9;
    }
    .top{
        height: 30%;
        background: url(../../assets/imgs/login-bg.png);
        background-size: 100% 100%;
        padding-top: 10px;
        .msg-tips{
            text-align: right;
            padding: 5px;
            position: relative;
            margin-right: 10px;
            .msg-tips-ico{
                color: #fff;
            }
            .dou{
                position:absolute;
                padding: 3px;
                background-color: $danger;
                right: 3px;
                border-radius: 50%;
                top: 8px;
            }
        }
        .user-info{
            display: flex;
            padding: 15px 20px; 
            .photo{
                width: 70px;
                height: 70px;
                margin-right: 10px;
                border-radius: 50%;
                overflow: hidden;
            }
            .info{
                color: #fff;
                .user-name{
                    font-weight: bold;
                    margin-top: 7px;
                    display: inline-block;
                }
                .position{
                    margin-top: 10px;
                }
            }
        }
    }

    .model{
        background-color: #fff;
        border-bottom: 0.55px solid #E5E6E7;
        .count{
            color: #4C5459;
            margin-bottom: 5px;
            display: block;
        }
        .name{
            color: #A4A4A5;
        }
    }
    .list-ios{
        margin-top: 20px;
        .item-ios{
            padding: 0;
            .label-ios {
                margin: 8px 8px 8px 0;
            }
        }
        .item-block{
            min-height: 36px;
        }
        .list-ico{
            width: 20px;
            margin-left: 20px;
        }
    }
    
}
