
page-advice {
    .advisePage{
        .question-type{
            background: #fff;
            padding:15px 15px 0;
            .title{
                line-height:30px;
                color:#343434;
                border-bottom: 1px solid #dddddd;
                font-size: 14px;
            }
            .grid{
                padding:20px;
                .type-item{
                    width:100%;
                    height: 30px;
                    border:1px solid #dcdcdc;
                    color:#2b2b2b;
                    border-radius: 4px;
                    margin-right: 10px;
                }
                .type-item:last-child{
                    margin-right: 0;
                }
                .active{
                    background: #039bff;
                    border:1px solid #039bff;
                    color:#fff !important;
                }
            }
        }
        .advice-con{
            .title{
                padding-left:16px;
                line-height:42px;
                color:#343434;
                font-size: 14px;
            }
            textarea{
                background:#fff;
                width:100%;
                min-height:200px;
                font-size:14px;
                padding:15px;
                border:none;
            }
        }
        .choose-pic{
            padding: 25px 15px;
            background: #fff;
            margin-top: 12px;
            margin-bottom: 80px;
            position: relative;
            li{
                height:84px;
                width:84px;
                background: #f3f6f8;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                ion-icon{
                    font-size: 24px;
                    color:#b2b7b8;
                }
                p{
                    color:#b2b7b8;
                    font-size: 12px;
                }
            }
            .pic-limit{
                position: absolute;
                right: 8px;
                bottom: 6px;
                font-size: 12px;
                color:#afafaf;
            }
        }
        footer{
            position: fixed;
            bottom: 0;
            left: 0;
            background: #fff;
            width:100%;
            padding:12px 0;
            margin: 0 auto;
            text-align: center;
            .my-ask{
                width:80%;
                height: 38px;
                line-height: 38px;
                text-align: center;
                color:#fff;
                background:#039bff;
            }
        }
    }
}
