<ion-header>
  <ion-navbar color="primary">
    <ion-title>发布资讯</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item (click)="showColumn=true" class="font14">
      <span class="placeholder" *ngIf='news.column === null'>请选择栏目</span>
      <span>{{news.column}}</span>
    </button>
    <button ion-item (click)="showTag=true" class="font14">
      <span class="placeholder" *ngIf ='news.tags.length===0'>请选择标签</span>
      <span *ngIf ='news.tags.length !== 0'>{{news.tags}}</span>
    </button>
    <ion-item>
      <ion-input placeholder="请输入来源" name="sourceSite" [(ngModel)]="news.sourceSite"></ion-input>
    </ion-item>
    <ion-item>
      <textarea placeholder="请输入资讯标题" [(ngModel)]="news.name" name="name" maxLength="100" class='title'></textarea>
      <div style="text-align:right;" class="font-gray">{{news.name.length}}/100</div>
    </ion-item>
    <ion-item> 
      <div  contenteditable="true" class="con">{{news.content}}
        <span *ngIf='news.content.length == 0'>请输入资讯内容</span>
      </div>
      <ul class='choose-pic'>
        <li (click)="setPhoto()">
          <ion-icon name="camera-retro"></ion-icon>
          <p>上传图片</p>
        </li>
      </ul>
      <!-- <textarea placeholder="请输入资讯内容" class="con" [(ngModel)]="con"></textarea> -->
      <p class='pic-num'><span>{{news.content.length}}</span>/20000</p>
    </ion-item>
  </ion-list>
  <!-- <ul class='choose-pic'>
    <li (click)="setPhoto()">
      <ion-icon name="camera-retro"></ion-icon>
      <p>照片/视频</p>
    </li>
    <p class='pic-limit'>上传图片(最多6张)</p>
  </ul> -->
  <button ion-button class='submit-btn' (click)='toMyAsk()'>提交</button>
</ion-content>
<div class="bg" *ngIf="showColumn">
  <colum-list (confirm)="getColumn($event)" (cancel)="closeColumn()"></colum-list>
</div>
<div class="bg" *ngIf="showTag">
  <tag-list (confirm)="getTag($event)" (cancel)="closeTag()"></tag-list>
</div>