<div class="condetion" [ngStyle]="{'height':height}">
  <!-- 资讯条件组件 -->
  <ion-grid class="condetion-top">
    <ion-row class="font-dark" style="text-align:center;">
      <ion-col (click)="choice('column')" [ngClass]="currentChoice==='column'? 'active':''"><div>栏目<ion-icon name="sort-desc"></ion-icon></div></ion-col>
      <ion-col (click)="choice('tag')" [ngClass]="currentChoice==='tag'? 'active':''"><div>标签<ion-icon name="sort-desc"></ion-icon></div></ion-col>
      <ion-col (click)="choice('date')" [ngClass]="currentChoice==='date'? 'active':''"><div>日期<ion-icon name="sort-desc"></ion-icon></div></ion-col>
      <ion-col (click)="choice('more')" [ngClass]="currentChoice==='more'? 'active':''"><div>更多<ion-icon name="sort-desc"></ion-icon></div></ion-col>
    </ion-row>
  </ion-grid>

  <!-- 栏目条件 -->
  <div class="plan" *ngIf="currentChoice=='column'">
    <ion-list no-lines>
      <!-- <ion-item>
        <ion-label>全部</ion-label>
        <ion-checkbox item-end [(ngModel)]="isCheckedAll" (click)='checkedAll()'></ion-checkbox>
      </ion-item> -->
      <ion-item *ngFor="let item of columns ">
        <ion-label>{{item.itemText}}</ion-label>
        <ion-checkbox [checked]="search.column.indexOf(item.itemText)!=-1" (ionChange)="select(search.column,item.itemText)" item-end></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-grid class="btn-box">
      <ion-row class="font-dark" style="text-align:center;">
        <ion-col class="reset"><div>重置</div></ion-col>
        <ion-col (click)="confim()" class="confim"><div>确定</div></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- 标签 -->
  <div class="plan" *ngIf="currentChoice=='tag'">
    <ion-list no-lines>
      <ion-item>
        <ion-label>全部</ion-label>
        <ion-checkbox item-end></ion-checkbox>
      </ion-item>
      <ion-item *ngFor="let item of tags">
          <ion-label>{{item.tagName}}</ion-label>
          <ion-checkbox [checked]="search.tagId.indexOf(item.id)!=-1" (ionChange)="select(search.tagId,item.id)" item-end></ion-checkbox>
        </ion-item>
    </ion-list>
    <ion-grid class="btn-box">
      <ion-row class="font-dark" style="text-align:center;">
        <ion-col class="reset"><div>重置</div></ion-col>
        <ion-col (click)="confim()" class="confim"><div>确定</div></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- 日期 -->
  <div class="plan" *ngIf="currentChoice=='date'">
    <ion-list no-lines>
      <ion-item (click)="slelctDate('')">
        <ion-label [ngClass]="date===''? 'active':''">全部</ion-label>
      </ion-item>
      <ion-item (click)="slelctDate('d')">
        <ion-label [ngClass]="date==='d'? 'active':''">今天</ion-label>
      </ion-item>
      <ion-item (click)="slelctDate('c')">
        <ion-label [ngClass]="date==='c'? 'active':''">近三天</ion-label>
      </ion-item>
      <ion-item (click)="slelctDate('week')">
        <ion-label [ngClass]="date==='week'? 'active':''">近七天</ion-label>
      </ion-item>
      <ion-item (click)="slelctDate('month')" style="border-bottom: 0;">
        <ion-label [ngClass]="date==='month'? 'active':''">近一月</ion-label>
      </ion-item>
    </ion-list>
    <ion-grid class="btn-box">
      <ion-row class="font-dark" style="text-align:center;">
        <ion-col class="reset"><div>重置</div></ion-col>
        <ion-col (click)="confim()" class="confim"><div>确定</div></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- 更多 -->
  <div class="plan" *ngIf="currentChoice=='more'">
    <ion-list no-lines>
      <ion-item (click)="selectOther('q')">
        <ion-label [ngClass]="other==='q'? 'active':''">按发布时间由近到远</ion-label>
      </ion-item>
      <!-- <ion-item (click)="selectOther('d')" style="border-bottom: 0;">
        <ion-label [ngClass]="other==='d'? 'active':''">按浏览量由大到小</ion-label>
      </ion-item> -->
    </ion-list>
    <ion-grid class="btn-box">
      <ion-row class="font-dark" style="text-align:center;">
        <ion-col class="reset"><div>重置</div></ion-col>
        <ion-col (click)="confim()" class="confim"><div>确定</div></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
